.video-lg{
    width: 100%;
    height: auto;
    position: fixed;
    background-color: aqua;
}

.video-sm{
    width: 500px;
    height: auto;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: aqua;
}
.warp-btn-vidcall {
    position: absolute;
    bottom: 15%;
    left: 2%;
}
